body {
  background: url(/images/bgc.png) no-repeat;
  max-width: auto;
}

.text {
  width: 730px;
  height: 49px;
  display: flex;
  margin-top: 500px;
  margin-left: 570px;
  font-family: Noto Serif;
  font-size: 36px;
  justify-content: center;
  color: white;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 45px;
  gap: 10px;
  box-sizing: border-box;
  color: white;
  width: 261px;
  height: 51px;
  margin-left: 810px;
  margin-top: 50px;
  border: 2px solid white;
  font-size: 18px;
  font-family: Gilroy;
}
.line {
  width: 1920px;
  height: 0px;
  border: 0.5px solid white;
  display: flex;
  margin-top: 80px;
}
.iconimg1 {
  width: 160px;
  height: 60px;
  display: flex;
  gap: 15px;
}
.iconline1 {
  height: 60px;
  border: 1px solid white;
  left: 15px;
  display: flex;
}
.icons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-left: 405px;
}
.iconimg2 {
  width: 160px;
  height: 60px;
  display: flex;
  gap: 15px;
}
.iconline2 {
  border: 1px solid white;
  height: 60px;
  left: 15px;
  display: flex;
}
.iconimg3 {
  width: 160px;
  height: 60px;
  display: flex;
  gap: 15px;
}
.iconline3 {
  height: 60px;
  border: 1px solid white;
  display: flex;
}
.iconimg4 {
  width: 160px;
  height: 60px;
  display: flex;
  gap: 15px;
}
.iconline4 {
  height: 60px;
  border: 1px solid white;
  display: flex;
}
.iconimg5 {
  width: 160px;
  height: 60px;
  display: flex;
  gap: 15px;
}
.iconline5 {
  height: 60px;
  border: 1px solid white;
  display: flex;
}
.iconimg6 {
  width: 160px;
  height: 60px;
  display: flex;
  gap: 15px;
}
.iconline6 {
  height: 60px;
  border: 1px solid white;
  display: flex;
}
.text1 {
  display: flex;
  width: 350px;
  height: 29px;
  margin-left: 865px;
  margin-top: 100px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
}
.text2 {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  width: 540px;
  height: 41px;
  margin-top: 15px;
  margin-left: 740px;
  display: flex;
}
.grid__1 {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(6, 0.1fr);
  height: 150px;
  column-gap: 5px;
  margin-top: 60px;
  margin-left: 400px;
  text-align: center;
}
.A {
  border: 0.5px solid #d6d6d6;
  height: 50px;
  width: 150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.A:active {
  border: 1px solid #d6d6d6;
  top: -5px;
  left: -5px;
  background-color: black;
  color: white;
}
.A:after {
  position: absolute;
  border: 1px solid #d6d6d6;
  z-index: -1;
  left: 5px;
  width: 150px;
  height: 50px;
  top: 5px;
  content: "";
}
.B {
  border: 1px solid #d6d6d6;
  height: 50px;
  width: 150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.B:after {
  position: absolute;
  border: 1px solid #d6d6d6;
  z-index: -1;
  width: 150px;
  height: 50px;
  left: 5px;
  top: 5px;
  content: "";
}
.B:active {
  border: 1px solid #d6d6d6;
  top: -5px;
  left: -5px;
  background-color: black;
  color: white;
}
.C {
  border: 1px solid #d6d6d6;
  height: 50px;
  width: 150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.C:after {
  position: absolute;
  border: 1px solid #d6d6d6;
  z-index: -1;
  left: 5px;
  width: 150px;
  height: 50px;
  top: 5px;
  content: "";
}
.C:active {
  border: 1px solid #d6d6d6;
  top: -5px;
  left: -5px;
  background-color: black;
  color: white;
}
.D {
  border: 1px solid #d6d6d6;
  height: 50px;
  width: 150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.D:active {
  border: 1px solid #d6d6d6;
  top: -5px;
  left: -5px;
  background-color: black;
  color: white;
}
.D:after {
  position: absolute;
  border: 1px solid #d6d6d6;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: 150px;
  height: 50px;
  content: "";
}
.E {
  border: 1px solid #d6d6d6;
  height: 50px;
  width: 150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.E:after {
  position: absolute;
  border: 1px solid #d6d6d6;
  z-index: -1;
  left: 5px;
  top: 5px;
  content: "";
  width: 150px;
  height: 50px;
}
.E:active {
  border: 1px solid #d6d6d6;
  top: -5px;
  left: -5px;
  background-color: black;
  color: white;
}
.F {
  border: 1px solid #d6d6d6;
  height: 50px;
  width: 150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}
.F:active {
  border: 1px solid #d6d6d6;
  top: -5px;
  left: -5px;
  background-color: black;
  color: white;
}
.F:after {
  position: absolute;
  border: 1px solid #d6d6d6;
  width: 150px;
  height: 50px;
  z-index: -1;
  left: 5px;
  top: 5px;
  content: "";
}
.grid__2 {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 0.1fr);
  column-gap: 30px;
  justify-content: center;
}
.text3 {
  display: flex;
  width: 350px;
  height: 29px;
  margin-left: 830px;
  margin-top: 100px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  color: white;
}
.text4 {
  display: flex;
  width: 540px;
  height: 41px;
  margin-left: 690px;
  margin-top: 15px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: white;
}
.text5 {
  display: flex;
  width: 730px;
  height: 100px;
  margin-left: 590px;
  margin-top: 45px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: white;
}
.button1 {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 15px 35px;
  gap: 10px;
  box-sizing: border-box;
  width: 224px;
  height: 51px;
  margin-left: 848px;
  margin-top: 60px;
}
.text_button {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  margin-left: 5px;
}
.container__3 {
  background: url(/images/bgc2.png) no-repeat;
  width: 1920px;
  height: 541px;
  position: absolute;
  top: 2130px;
}
.grid__text1 {
  position: relative;
  top: 250px;
  left: 130px;
  width: 106px;
  height: 28px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.grid__text2 {
  position: relative;
  top: 250px;
  left: 130px;
  width: 106px;
  height: 28px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.grid__text3 {
  position: relative;
  top: 250px;
  left: 105px;
  width: 106px;
  height: 28px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.grid__text4 {
  position: relative;
  top: 250px;
  left: 115px;
  width: 106px;
  height: 28px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.grid__text5 {
  position: relative;
  top: 250px;
  left: 110px;
  width: 106px;
  height: 28px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.grid__text6 {
  position: relative;
  top: 250px;
  left: 125px;
  width: 106px;
  height: 28px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.text6 {
  display: flex;
  width: 350px;
  height: 29px;
  margin-left: 870px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  margin-top: 750px;
}
.text7 {
  width: 1110px;
  height: 41px;
  margin-left: 590px;
  display: flex;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  margin-top: 15px;
}
.grid__3 {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 0.1fr);
  column-gap: 30px;
  justify-content: center;
  margin-top: -25px;
}
.grid__text7 {
  position: relative;
  top: 333px;
  left: 95px;
  width: 154px;
  height: 87px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: white;
}
.grid__text8 {
  position: relative;
  top: 340px;
  left: 80px;
  width: 204px;
  height: 90px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: white;
}
.grid__text9 {
  position: relative;
  top: 335px;
  left: 75px;
  width: 206px;
  height: 87px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: white;
}
.button2 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px 35px;
  gap: 10px;
  width: 255px;
  height: 51px;
  border: 1px solid black;
  background-color: #333333;
  margin-left: 830px;
  margin-top: 60px;
}
.text__button1 {
  display: flex;
  width: 185px;
  height: 21px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  margin-left: 5px;
}
.text8 {
  width: 350px;
  height: 29px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  color: #333333;
  display: flex;
  margin-top: 120px;
  margin-left: 890px;
  text-align: center;
}
.text9 {
  width: 1110px;
  height: 41px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  margin-top: 15px;
  margin-left: 760px;
  text-align: center;
}
.grid__4 {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}
.text10 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  width: 920px;
  height: 29px;
  text-align: center;
  display: flex;
  margin-top: 150px;
  margin-left: 700px;
  color: white;
}
.text11 {
  display: flex;
  width: 1110px;
  height: 41px;
  margin-left: 740px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  margin-top: 15px;
  color: white;
}
.container__6 {
  background: url(/images/bgc2.png) no-repeat;
  width: 1920px;
  height: 541px;
  top: 4200px;
  position: absolute;
}
.subscribe {
  color: white;
  position: absolute;
}
.text12 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  width: 155px;
  height: 25px;
}
.text13 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  width: 208px;
  margin-top: 15px;
  height: 25px;
}
.text14 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  width: 208px;
  height: 25px;
  margin-top: 15px;
}
.subscribe_text {
  position: relative;
  margin-left: 570px;
  margin-top: 63px;
}
.subscribe_images {
  position: relative;
  margin-left: 530px;
  margin-top: -105px;
}
.sbs_img2 {
  margin-top: 15px;
}
.sbs_img3 {
  margin-top: 15px;
}
.btn_element1 {
  box-sizing: border-box;
  display: flex;
  width: 448px;
  height: 113px;
  border: 1px solid #ffffff;
  margin-left: 880px;
  margin-top: 60px;
}
.btn_element2 {
  background: #ffffff;
  width: 418px;
  height: 85px;
  margin-top: 15px;
  margin-left: 14px;
}
.btn_element3 {
  box-sizing: border-box;
  width: 200px;
  height: 45px;
  background: #ffffff;
  margin-top: 20px;
  margin-left: 22px;
  border: 1px solid #d6d6d6;
}
input {
  width: 200px;
  height: 45px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.btn_element4 {
  background: #333333;
  width: 159px;
  height: 45px;
  margin-left: 237px;
  margin-top: -44.5px;
  border: 1px solid #ffffff;
}
.btn_text4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 14.5px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
